<% form_for( :quantum_stor_next_demonstration, @quantum_stor_next_demonstration, :url=> { :controller=>'actions', :action=>'update' },  :html => { :id => 'edit_action' } ) do |f| %>
  <%= f.error_messages %>

  <li>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </li>
  <li>
    <%= f.label :comments %>
    <%= f.text_area :comments, :rows => 3 %>
  </li>
  <li>
    <%= f.label 'Operation'%>
    <%= select_tag('quantum_stor_next_demonstration[operation]', options_for_select(QuantumStorNextDemonstration::OPERATION_LIST, @quantum_stor_next_demonstration.operation)) %>
  </li>

<% end %>
